<div class="col-12 pb-2 border-bottom border-secondary">
    <div class="row">
        <div class="col-1 text-start" style="width: 2.2em;"></div>
        <div class="col-10 text-center pt-1">@ViewData["Title"]</div>
        <div class="col-1 text-end align-top" style="width: 2.2em;"></div>
    </div>
</div>
<div class="cod-12 pt-2"></div>
